body {
  margin:0;
  padding:0;  
}

.header-image {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  margin-bottom: 50px;
}

h1 {
  position: absolute;
  font-family: sans-serif;
  text-align: center;
  top: 30vh;
  left: 34vw;
  color: white;
  font-size: 100px;
  font-weight: lighter;
}

.container {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-content: center;
  row-gap: 20px;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: x-large;
  line-height: 30px;
  text-align: justify;
}

.container * {
  width: 75vw;
  align-self: center;
}

.container > image {
  height: 35px; 
  width: auto;
}

h2 {
  font-weight: lighter;
  margin-bottom: 50px;
}
  
.ingredients > ul {
  list-style-type: "-";
  text-indent: 5px;
}